// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//================================
//Base
//================================
body,html{
  background: $background-color_default;
  color: $font-color_default;
  font-size: $font-size_default;
  width: $site-width;
  font-family: $font-family_base;
  margin-left: auto;
  margin-right: auto;
  @include mq(){
    max-width: 100%;
    width: 100%;
    font-size: $font-size_s;
  }
  @include mq(tab){
    max-width: 100%;
    width: 100%;
  }
  @include mq(pc){
    max-width: 100%;
    width: 100%;
  }
}
//body isFixed
.isFixed{
  overflow: hidden;
}
ul,p{
  margin: 0;
  padding: 0;
}
a{
  color: $font-color_default;
  font-size: $font-size_default;
  text-decoration: none;
  @include mq(){
    font-size: $font-size_s;
  }
}
img{
  width: 100%;
  border-radius: 50%;
}
label, input[type='checkbox'] {
  cursor: pointer;
}
input[type="text"] {
  font-size: $font-size_default;
  border: 0;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  cursor: pointer;
}
input[type="text"]:focus {
  box-shadow: 0 0 2px 0 rgba(255,153,0,1);
  outline: 0;
}
input[type="password"] {
  font-size: $font-size_default;
  border: 0;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  cursor: pointer;
}
input[type="password"]:focus {
  box-shadow: 0 0 2px 0 rgba(255,153,0,1);
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}
textarea{
  cursor: pointer;
}
//================================
//container
//================================
.body-container{
  margin-bottom: 100px;
  height: 98%;
  @include mq(pc){
    width: 93%;
    max-width: 93%;
  }
}
.router-container{
  @include mq(pc){
    display: flex;
    flex-direction: row-reverse;
  }
}
.message-container{
  background-color: #99FFCC;
  border: 2px solid #66FF99;
  color: #fff;
  z-index:98;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  height: 40px;
  font-size: $font-size_l;
  text-align: center;
  line-height: 40px;
  @include mq(){
    width: 100%;
  }
  @include mq(tab){
    width: 100%;

  }
  @include mq(pc){
    width: 100%;
  }

}
//header-container
.header-container{
  width: 100%;
  height: $site-height-header;
  margin-bottom: $space_xl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-color_default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  @include mq(pc){
    margin-left: auto;
    margin-right: auto;

  }
}
//nav-container
.nav-header-container{
  margin-bottom: $space_s;
}
//flex-container
.flex-container{
  width: 100%;
  display: flex;
  @include mq(pc){
    display: block;
  }
  &-home{
    margin-top: 100px;
  }
}
//main-container
.main-container{
  width: 100%;
  margin-left: $space_xxl;
  margin-right: $space_xxl;
  @include mq(){
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
  }
  @include mq(tab){
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
  }
  @include mq(pc){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
  &-list{
    @include mq(pc){
      display: block;
      padding-left: 18%;
      padding-right: 25%;
    }
  }
}
//side-container
.side-container{
  width: $site-width_aside;
  margin-left: $space_xxl;
  margin-right: $space_xxl;
  @include mq(){
    display: none;
  }
  @include mq(tab){
    display: none;
  }
  &-task-page{
    margin-top: $space_m;
  }
}
.todo-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $space_xl;
  margin-bottom: $space_xl;
  @include mq(pc){
    width: 45%;

  }

}
.grid-container{
  border-radius: 30px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  &-white{
    background: #fff;
    &:hover{
      opacity: 0.7;
      transform: scale(1.01);
    }
  }
}
.lists-container{
  @include mq(pc){
    width: 35%;
  }
}
.mylist-container{
  margin-top: $space_m;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $space_m;
  @include mq(pc){
    display: none;
  }
}
.list-container{
  margin-bottom: $space_xxl;
  &-select-page{
    margin-top: $space_xxl;
  }
}
.user-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-bottom: $space_xxl;
  &-responsive{
    display: none;
    @include mq(){
      display: flex;
    }
  }
}
.responsive-button-container{
  width: 100%;
  padding-left: $space_xl;
  padding-right: $space_xl;
  display: none;
  @include mq(){
    display: block;
    z-index: 1;
  }
  @include mq(tab){
    display: block;
    z-index: 1;
  }
}
.system-error-container{
  width: 100%;
  z-index: 99 !important;
}
//============================
//task page
//============================
.task-nav-container{
  background: $background-color_default;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-bottom: $space_m;
  padding-top: $space_m;
  padding-left: $space_l;
  padding-right: $space_l;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include mq(pc){
    padding-left: 25%;
    padding-right: 25%;
  }
  &-todo{
    z-index: 6;
  }
  &-detail, &-list{
    z-index: 8;
  }
  &-create-list{
    z-index: 10;
  }
  &-category{
    z-index: 12;
  }
  &-account{
    position: unset;
    top: auto;
    left: auto;
    @include mq(pc){
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
}
.search-box-container{
  width: 90%;
  background: #fff;
  border-radius: 25px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $space_4l;
  @include mq(tab){
    margin-top: 100px;
  }
  @include mq(pc){
    margin-top: 150px;
  }

}
.item-container{
  margin-bottom: $space_l;
}
.footer-container{
  background: $background-color_default;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: $space_l;
  display: block;
  @include mq(){
    display: block;
    position: fixed;
    bottom: -5px;
    padding-bottom: 5px;
    z-index: 5;
    height: -webkit-fill-available;
  }
  @include mq(tab){
    display: block;
    position: fixed;
    bottom: -5px;
    padding-bottom: 5px;
    z-index: 5;
    height: -webkit-fill-available;
  }
  @include mq(pc){
    width: 7%;
    max-width: 15%;
    top: $site-height-header;
    position: fixed;
    top: $site-height-header;
    left: 0;
    z-index: 5;
    padding-top: 0;
  }
}
.nav-container{
  z-index: 1;
  margin-bottom: 0;
  margin-top: $space_l;
  box-shadow:rgba(122, 122, 122, 0.288235) 0px -8px 8px -8px;
-webkit-box-shadow:rgba(122, 122, 122, 0.288235) 0px -8px 8px -8px;
-moz-box-shadow:rgba(122, 122, 122, 0.288235) 0px -8px 8px -8px;
  @include mq(pc){
    box-shadow: none;
  }

}
//flex items
.nav-center{
  flex-basis: 50%;
  text-align: center;
}
.nav-left{
  flex-basis: 25%;
  text-align: left;
}
.nav-right{
  flex-basis: 25%;
  text-align: right;
}
//================================
//components
//================================
//modal
.modal-container{
  background: $background-color_default;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 5;
  @include mq(pc){
    padding-left: 25%;
    padding-right: 25%;
  }
  &-detail, &-list{
    z-index: 7;
  }
  &-create-list{
    z-index: 9;
  }
  &-category{
    z-index: 11;
  }
}
.modal-item{
  width: 90%;
  background: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: $space_m;
  padding-bottom: $space_m;
  border-bottom: 1px solid $font-color-gray;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space_l;
  border-radius: 10px 10px 10px 10px;
  &-unclick{
    background: $font-color-gray;
    visibility: hidden;
  }
  &-list-first{
    margin-top: $space_4l;
  }
  &-first{
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    margin-top: $space_4l;
  }
  &-last{
    border-radius: 0 0 10px 10px;
  }
  &-middle{
    border-radius: 0 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: $space_l;
    margin-bottom: $space_xl;
    justify-items : center;
  }
  &-text{
    padding: $space_m;
  }
  &-list{
    background: $background-color_default;
    padding-top: $space_m;
    padding-bottom: $space_m;
    padding-left: $space_m;
    margin-right: $space_m;
    width: 70%;
    border-radius: 10px 10px 10px 10px;
    &-left{
      margin-left: $space_m;
    }
  }
}
.home-menu-container{
  z-index: 6;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#333;
  color: #fff;
  opacity: 0.9;
  &:hover{
    cursor: pointer;
  }
}
.menu-flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.menu-text{
  font-size: $font-size_xl;
  margin-top: $space_xl;
  margin-bottom: $space_xl;
  font-weight: normal;
  &:hover{
    font-weight: bold;
  }
}
.overlay-container{
  z-index: 6;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color:rgba(0,0,0,0.45);
  cursor: pointer;
}
.js-overlay-container{
  opacity: 0;
  pointer-events: none;
  transition: all 1s 0s ease;
  &.isShow{
    opacity: 1;
    pointer-events: auto;
  }
}
//title
.title{
  font-size: $font-size_xxl;
  font-weight: bold;
  margin: 0;
  &-header{
    color: $font-color-pink;
    font-family: $font-family_title;
    margin-top: $space_l;
    margin-bottom: $space_l;
    margin-left: $space_l;
    
  }
  &-login{
    color: $font-color-pink;
    font-family: $font-family_title;
    margin-top: $space_3l;
    margin-bottom: $space_3l;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    ;

  }
  &-list{
    margin-top: $space_xs;
    padding-left: $space_l;
    font-size: $font-size_xl;
    text-align: center;
  }
  &-category{
    padding-left: $space_l;
    font-size: $font-size_m;
    margin-bottom: $space_l;
    margin-top: $space_l;
    @include mq(pc){
      font-size: $font-size_l;
    }
    &-s-margin{
      padding-left: $space_s;
      margin-top: $space_l;
      margin-bottom: $space_l;
    }
  }
  &-pc{
    display: none;
    @include mq(pc){
      display: block;
    }
  }
  &-center{
    text-align: center;
  }
}
.menu{
  display: flex;
  list-style: none;
  margin-left: $space_xl;
  margin-right: $space_xl;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  &-item{
    width: $icon-size_l;
    font-size: $font-size_s;
      @include mq(pc){
        margin-bottom: $space_s;
      }
    &-pc{
      display: none;
      @include mq(pc){
        display: block;
        
      }
    }
    &-hover{
      color: $font-color-gray;
      opacity: 1;
      &:active{
        cursor: pointer;
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
        
      }
    }
  }
  &-pc{
    @include mq(pc){
      display: flex;
      flex-direction: column;
    }
  }

}
.icon{
  font-size: $font-size_xxl;
  line-height:  $icon-size_l;
  width: $icon-size_l;
  text-align:center;
  @include mq(){
    font-size: $font-size_l;
    width: $icon-size_m;
    line-height: $icon-size_m;
  }
  &-sm{
    @include mq(pc){
      display: none;
    }
  }
  &-pc{
    display: none;
    @include mq(pc){
      display: inline-block;
    }
  }
  &-s{
    font-size: $font-size_s;
    line-height: $icon-size_s;
    width: $icon-size_s;
    @include mq(pc){
      font-size: $font-size_default;
      line-height: 25px;
      width: 25px;
    }
  }
  &-ss{
    font-size: $font-size_xs;
    line-height: $icon-size_default;
    width: $icon-size_default;
  }
  &-incline{
    font-size: $font-size_xs;
    line-height: $icon-size_default;
    width: $icon-size_default;
    transform:rotate(45deg);
    color: $icon-color_blue;
  }
  &-header{
    font-size: $font-size_xl;
    &:hover{
    color: $font-color-gray;
    }
  }
  &-footer{
    width: $icon-size_m;
    line-height: $icon-size_m;
    margin-top: $space_s;
    color: $font-color-gray;
    &:hover{
    color: $icon-color-black;
    cursor: pointer;
    }
    &-hover{
    color: $icon-color-black;
    }
  }
  &-hover{
    cursor: pointer;
  }
  &-white{
    color: $icon-color_white;
  }
  &-blue{
    color: $icon-color_blue;
  }
  &-red{
    color: $icon-color_red;
  }
  &-tasknav{
    font-size: $font-size_m;
    text-align: right;
    @include mq(pc){
      font-size: $font-size_l;
    }
  }
  &-search{
    font-size: $font-size_m;
    line-height: normal;
    width: auto;
    margin-left: $space_l;
    color: $font-color-gray;
  }
  &-item{
    color: $font-color-gray;
    &-green{
      color:$icon-color-lightgreen;
    }
  }
  &-right-margin{
    margin-right: $space_m;
  }
  &-hidden{
    opacity: 0;
  }
  &-select{
    cursor: pointer;
    &:hover{
      opacity: 0.7;
      transform: scale(1.1);
    }
  }
  &-pc{
    display: none;
    @include mq(pc){
      display: inline-block;
      font-size: $font-size_l;
      width: $space_3l;
    }
  }
}
//square-area
.square-area{
  width: $icon-size_l;
  height: $icon-size_l;
  border-radius: 25%;
  @include mq() {
    width: $icon-size_m;
    height: $icon-size_m;
 }
 &-list{
   margin-left: $space_xl;
 }
 &-red{
   background: $icon-color_red;
 }
 &-gray{
   background: $icon-color_gray;
 }
 &-blue{
   background: $icon-color_blue;
 }
 &-orange{
   background: $icon-color_orange;
 }
}
//circle-area
.circle-area{
  width: $icon-size_l;
  height: $icon-size_l;
  border-radius: 50%;
  @include mq() {
    width: $icon-size_m;
    height: $icon-size_m;
  }
  &-s{
    width: $icon-size_s;
    height: $icon-size_s;
    @include mq(pc){
      width: 25px;
      height: 25px;
    }
  }
  &-category{
    margin-left: $space_xl;
    margin-top : $space_xl;
    @include mq(){
      margin-left: $space_m;
      margin-top: $space_m;
    }
  }
  &-grid{
      width: 35px;
      height: 35px;
      &.checked{
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px $icon-color_gray;
      }
  }
  &-list{
    margin-left: $space_xl;
  }
  &-blue{
    background: $icon-color_blue;
    }
  &-red{
    background: $icon-color_red;
    }
  &-orange{
    background: $icon-color_orange;
    }
  &-gray{
    background: $icon-color_gray;
   }
   &-purple{
     background: $icon-color_purple;
   }
   &-pink{
     background: $icon-color_pink;
   }
   &-yellow{
     background: $icon-color_yellow;
   }
   &-green{
     background: $icon-color_green;
   }
   &-black{
     background: $icon-color_black;
   }
   &-sky{
     background: $icon-color_sky;
   }
   &-brown{
     background: $icon-color_brown;
   }
   &-peach{
     background: $icon-color_peach;
   }
}
//text
.text{
  font-size: $font-size_l;
  margin-top: $space_m;
  margin-bottom: $space_m;
  margin-left: $space_xl;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding-left: $space_s;
  @include mq(){
    font-size: $font-size_m;
    margin-top: $space_s;
    margin-bottom: $space_s;
    margin-left: $space_m;
  }
  &-xs{
    font-size: $font-size_xs;
    margin: 0;
    padding: 0;
  }
  &-no-margin{
    margin-top: 0;
    margin-bottom: 0;
  }
  &-gray{
    color: $font-color-gray;
    cursor: not-allowed !important;
    }
  &-blue{
    color: $font-color_blue;
  }
  &-sidemenu{
    font-size: $font-size_l;
  }
  &-nav{
    margin: 0;
    padding: 0;
    font-size:$font-size_m;
    font-weight: bold;
    @include mq(tab){
      font-size: $font-size_l;
    }
    @include mq(pc){
      font-size: $font-size_l;
    }
  }
  &-center{
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &-left{
    text-align: left;
    margin-left: $space_m;
    padding-left: $space_s;
  }
  &-right{
    text-align: right;
    margin-right: $space_m;
    padding-right: $space_s;
    padding-left: 0;
  }
  &-hidden{
    visibility: hidden;
  }
  &-margin-bottom{
    margin-bottom: $space_xl;
  }
  &-margin-top{
    margin-top: $space_4l ;
  }
  &-underline{
    text-decoration: underline;
    cursor: pointer;
  }
  &-no-leftmargin{
    margin-left: 0;
  }
}
.category-title-area{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  &-left{
    justify-content: flex-start;
  }
}
.task-count-area{
  margin-top: $space_l;
  margin-right: $space_l;
  font-size: $font-size_3l;
  text-align: center;
  font-weight: bold;
  @include mq() {
    font-size: $font-size_l;
  }
}
//button
.button{
 color: $font-color-white;
 padding-left: $space_xl;
 padding-right: $space_xl;
 padding-top: $space_s;
 padding-bottom: $space_s;
 border-radius: 40px;
 font-weight: bold;
 margin-left: $space_l;
 margin-right: $space_l;
 border-top:2px solid rgba(255,255,255,0.2);
 border-bottom:2px solid rgba(0,0,0,0.2);
 cursor: pointer;
 &:hover{
  opacity: 0.8;
 }
 &:active{
  -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
  margin-bottom: 2px;
 }
 @include mq(){
   display: none;
 }
 &-area-responsive{
   display: flex;
   justify-content: space-between;
 }
 &-responsive{
   @include mq(){
     display: inline-block;
   }
   @include mq(pc){
    display: none;
   }
 }
 &-auth{
  display: inline-block;
 }
 &-square{
  border-radius: 5%;
  margin-right: 0;
  &-s{
    padding-left: $space_m;
    padding-right: $space_m;
    padding-top: $space_xs;
    padding-bottom: $space_xs;
  }
 }
  &-blue{
      background-color: $icon-color_blue;
  }
  &-orange{
      background-color:  $icon-color_orange;
  }
  &-black{
    background-color: $icon-color-black;
  }
  &-red{
    background-color: $icon-color_red;
  }
}
//list-area
.list-item{
  background: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: $space_m;
  padding-bottom: $space_m;
  border-bottom: 1px solid $font-color-gray;
  position: relative;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.01);
  }
  &:first-child{
    border-radius: 10px 10px 0 0;
  }
  &:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: none;
  }
  &-solo{
    border-radius: 10px 10px 10px 10px !important;
  }
  &-red{
    color: $icon-color-tomato;
  }
  &-no-padding{
    padding: 0;
  }
  &-clear{
    background-color: $background-color_default;
    padding-left: $space_m;
    padding-right: $space_m;
    &:hover{
      opacity: 1;
      cursor: default;
      transform: scale(1);
    }

  }
  &-task{
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &-task-in{
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 100%;
    left: -15%;
    @include mq(pc){
      transform: none !important; 
      left: 0;
    }

  }
  &-task-swipe{
    width: 15%;
    min-width: 15%;
    max-width: 15%;
    position: relative;
    left: -15%;
    color: #fff;
    font-size: $font-size_m;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,0);
    @include mq(pc){
      display: none;
    }
    &-red{
      background-color: $icon-color-tomato;
    }
    &-gray{
      background-color: $icon-color-silver;
    }
    &-green{
      background-color: $icon-color-lightgreen;
    }
    &-yellow{
      background-color: $icon-color-yellow;
    }
  }
  &-no-flex{
    display: block;

  }
  &-around{
    display: flex;
    justify-content:space-between;
    align-items: center;  
  }
  &-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-left-margin{
      margin-left: $space_m;
    }
  }
  &-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-sidemenu, &-task{
    padding:0;
    &:first-child{
      border-radius: 0 0 0 0;
    }
    &:last-child{
      border-radius: 0 0 0 0;
    }
  }
  &-task{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    &:last-child{
      border-bottom: 1px solid $font-color-gray;
    }
  }
  &-transparent{
    background-color: $background-color_default;
    &:first-child{
      border-radius: 0 0 0 0;
    }
    &:last-child{
      border-bottom: 1px solid $font-color-gray;
      border-radius: 0 0 0 0;
    }
  
  }
}
.searchbox{
  height: 30px;
  width: calc(100% - 40px);
  font-size: $font-size_default;
  border: 0 !important;
  box-shadow: none !important;
  &:focus{
    box-shadow: none !important;
  }
}

//===========================================
//tool menu
//===========================================
.tool-container{
  margin-right: $space_m;
  width: 70%;
  z-index: 6;
  position: fixed;
  top:8%;
  right:0;
  display: block;
  @include mq(pc){
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}


//===========================================
//Element UI component
//===========================================
.slide-button{
  margin-right: $space_l;
}

.el-calendar-day{
  height: 40px !important;
}
.el-calendar__body{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

th {
  text-align: center;
}
.el-input__inner{
  padding-right: 0 !important;
  border: none !important;
}
//==========================================
//Utility
.font-xs{
  font-size: $font-size_xs;
  color: $font-color_blue;
}
.font-s{
  font-size: $font-size_s;
}
.margin-right-s{
  margin-right: $space_s;
}
.margin-bottom-xxl{
  margin-bottom: $space_xxl;
}
.space-left{
  margin-left: $space_m;
}
.errors{
  list-style: none;
  color: red;
  font-weight: bold;
}
.text-hover,a{
  font-weight: normal;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
    color: #333;
  }
  &:active{
    cursor: pointer;
    opacity: 0.8;
    -webkit-transform: translate(0,2px);
    -moz-transform: translate(0,2px);
    transform: translate(0,2px);    
  }
}
.area-hover{
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}
.border-none{ 
  box-shadow: none !important;
}
.border-buttom{
  border-bottom: 1px solid #CCC !important;
}
.button-invalid{
  cursor: not-allowed !important;
  background-color: $icon-color_gray;
}
//==========================================
//ログイン画面
.auth-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $space_5l;
  background: $background-color_default;
  position: fixed;
  top: 0;
  left: 0;
  @include mq(pc){
    padding-left: 25%;
    padding-right: 25%;
  }
  &-password{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  }  
}
.tab{
  display: flex;
  justify-content: center;
  list-style: none;
  &-item{
    color: $font-color-gray;
    font-size: $font-size_m;
    font-weight: bold;
    border-bottom: 3px solid $font-color-gray;
    margin-left: $space_l;
    margin-right: $space_l;
    padding-left: $space_m;
    padding-right: $space_m;
    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
    &-selected{
      color: $font-color_default;
      border-bottom: 3px solid $font-color_default;
    }
  }
}
.account-container{
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  z-index: 7;
  opacity: 1;
  background:$background-color_default;
  position: fixed;
  top:0;
  @include mq(pc){
    padding-left: 25%;
    padding-right: 25%;
    left: 0;
  }
}
.update-form{
  margin-left: $space_m;
  margin-right: $space_m;
  margin-top: $space_m;
  &-first{
    margin-top: $space_xl;
  }
}
.update-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $space_l;
  display: flex;
  flex-direction: column;
  font-size: $font-size_m;
  @include mq(){
    width: 80%;
  }
  @include mq(tab){
    width: 80%;
  }


  &-register{
    z-index: 2;
      &-edit{
        width: 100%;
        height: 100%;
        z-index: 7;
        margin-top: 0;
      }  
  }
}
.form{
  padding: $space_l;
  &-item{
    width: 100%;
    border: 1px solid $font-color_gray;
    margin-top: $space_s;
    margin-bottom: $space_s;
    line-height: 2;
    padding-left: $space_s;
    padding-right: $space_s;
  }
  &-check{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    
  }
  &-button{
    width: 100%;
    margin-top: $space_m;
    margin-bottom: $space_m;
    text-align: right;
    &-space-right{
      padding-right: $space_m;
    }
  }
}


//============================================
//transition animation
//============================================
//slide-from-right-to-left
.slide-right-enter-active, .slide-right-leave-active {
  transform: translate(0px, 0px);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0s;
}
.slide-right-enter, .slide-right-leave-to{
  transform: translateX(100vw) translateY(0px);
}
//slide-from-buttom-to-top
.slide-bottom-enter-active, .slide-bottom-leave-active {
  transform: translate(0px, 0px);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  transform: translateY(100vh) translateX(0px);
}
//fade animation
.fade-enter-active {
  transition: opacity 0.5s;
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
